__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env
db.sqlite3
media/
node_modules/
.idea/
.vscode/
*.zip
*.log
firebase-auth.json
enjazzzzz-c68d47df6f64.json
enjaz-release.keystore
*.json
!package.json
!package-lock.json
